{{!-- {{#draggable-object-target action='rearrangeList' item=item}} --}}
  {{#if isMovingUp}}
    <div class="dnd-list-item-placeholder">I'm  a placeholder</div>
  {{/if}}
  {{#draggable-object content=item isDraggingObject=isDraggingObject}}
    {{!-- {{#if isDraggingObject}} --}}
      {{!-- <div class="dnd-list-item-placeholder">I'm  a placeholder</div> --}}
    {{!-- {{else}} --}}
    {{!-- {{/if}} --}}
    {{yield}}
  {{/draggable-object}}
  {{#if isMovingDown}}
    <div class="dnd-list-item-placeholder">I'm  a placeholder</div>
  {{/if}}
{{!-- {{/draggable-object-target}} --}}
